CompileFlags:
  Add:
    - -xc
    - -target
    - x86_64-unknown-none
    - -std=c17
    - -ffreestanding
    - -fno-stack-protector
    - -fno-pic
    - -mno-red-zone
    - -Ikernel
    - -Ikernel/include
